body {
  background-color: lightskyblue;
  font-family: sans-serif;
  padding: 20px;
  margin: 20px;
}

h1 {
  font-size: 40px;
  margin-top: 0;
  margin-bottom: 15px;
  margin-left: auto;
  margin-right: auto;
}

h2 {
  font-size: 30px;
}

.established {
  font-style: italic;
}

h1, h2 {
  text-align: center;
}

p {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  
}

/*makes secondary background*/
.menu {
  background-color: rgb(255, 224, 201);
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  max-width: 1000px;
}



img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: -25px;
  width: 90%;
}

hr {
  height: 2px;
  background-color: brown;
  border-color: brown;
}

.bottom-line {
  margin-top: 25px;
}

h1, h2 {
  font-family: Impact, serif;
}

.item p {
  text-align:left;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  
}

.flavor, .dessert {
    text-align: left;
    
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  marg
}

/*.price {
  text-align: right;
  width: 25%;
}*/

/* FOOTER */

footer {
    font-size: 14px;
    text-align: center;
}

.address {
  margin-bottom: 5px;
}

a {
    color: black;
    font-weight: bold;
    font-size: 30px;
}

a:visited {
  color: black;
}

a:hover {
  color: white;
}

a:active {
  color: brown;
}

/*make white outline around letters*/

/*p {
    color: black;
    text-shadow:
    -1px -1px 0 white,
    1px -1px 0 white,
    -1px 1px 0 white,
    1px 1px 0 white;  
}*/

img {
  padding: 20px;
}
